.container {
	width: 1000px;
	background-color: pink;
}

h1 {
	font-size: 60px;
}

a {
	display: inline-block;
	padding: 5px;
	margin: 1px;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 5px;
}

a.nav {
	width: 90px;
	padding: 5px;
	margin-bottom: 5px;
}

.row {
	margin-top: 5px;
	margin-bottom: 5px;
}

form {
	margin: 10px;
}