.container {
	width: 1100px;
	background-color: pink;
}

h1 {
	font-size: 60px;
}

a {
	display: inline-block;
	padding: 5px;
	margin: 1px;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 5px;
}

img {
	display: inline-block;
	height: 200px;
	width: 200px;
	margin: 4px;
}

.row {
	margin-top: 5px;
	margin-bottom: 5px;
}

.col-2{
	padding: 10px;
}

.text{
	height: 200px;
	width: 200px;
	overflow: hidden;
	font-size: 12px;
}